body {
    margin: 0;
    font-family: Arial;
    background: #eef3ff;
}

.navbar {
    background: #003B8E;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main-wrapper {
    display: flex;
}

/* LEFT PANEL */
.question-panel {
    width: 70%;
    padding: 20px;
}

.question-text {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.options-box label {
    display: block;
    background: #fff;
    padding: 12px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}

.button-row button {
    padding: 10px 15px;
    margin-right: 10px;
    background: #003B8E;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.bottom-nav button {
    padding: 10px 20px;
    background: #444;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* RIGHT PANEL */
.palette-panel {
    width: 30%;
    background: white;
    padding: 15px;
    border-left: 2px solid #ccc;
}

.palette {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

.palette div {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: grey;
    color: white;
    font-size: 14px;
}

/* Status Colors */
.answered { background: green !important; }
.not-answered { background: red !important; }
.review { background: purple !important; }
.not-visited { background: grey !important; }

.submit-btn {
    width: 100%;
    background: #ff2d2d;
    padding: 15px;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* Results */
.result-box {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}
